* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    height: 100vh;
    width: 100vw;
}

body {

   font-family: 'Playfair Display', serif;
    font-size: 25px;
  background:url(s.jpeg) no-repeat  fixed;
        background-size: cover ;

    height: 100vh;
    width: 100vw;
}

#calqueNoterYoutubeurPrincipal {
    text-align: center;
    position: absolute;
    top: calc(calc(100vh - 405px) / 2);
    left: calc(calc(100vw - 826px) / 2);
    border-radius: 3px;
    width: 826px;
    height: 405px;
}

#calqueNoterYoutubeurOmbre {
    position: absolute;
    top:-2px;
    left: -0px;
    width: 826px;
    height: 405px;
    background-image: linear-gradient(#ffb100,yellow,#ffb100);
    border-radius: 30px;
    z-index: 1;
}

#calqueNoterYoutubeur4 {
    z-index: 2;
    position: absolute;
    top: 0px;
    border-radius: 30px;
    width: 826px;
    height: 400px;
    background: radial-gradient(ellipse at bottom,rgba(0, 4, 113, 0.9) 40%,rgb(3, 0, 83));   
    visibility:visible;
}

#calqueNoterYoutubeur4 p {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    font-size: 22px;
}

.rating4 {
    position: relative;
    z-index: 4;
    top: 80px;
    width: 826px;
    height: 80px;
    display: block;
    text-align: center;
}

.c3 {
    background-color: transparent;
    border: none;
    width: 70px;
    margin-left: 25px;
    margin-right: 25px;
    height: 80px;
    cursor: pointer;
    font-size: 83px;
    color: #0a9abc;
    border-radius: 50%;
}

.c3:hover, .c3:focus {
    outline: none;
    color: #ffce00;
    text-shadow: 0 0px 15px yellow;   
}


@media screen and (max-device-width:1100px) {
html {
   height: 1000px; 
}
body {
    height: 100%;
}
#logoNoteryoutubeur {
    position: absolute;
    width: 50px;
    left: 25px;
}

#calqueNoterYoutubeurPrincipal {
    text-align: center;
    position: absolute;
    top: calc(calc(100vh - 110px) / 2);
    left: calc(calc(100vw - 280px) / 2);
    border-radius: 3px;
    width: 280px;
    height: 405px;
}

#calqueNoterYoutubeurOmbre {
    position: absolute;
    top:-2px;
    left: -0px;
    width: 280px;
    height: 600px;
    background-image: linear-gradient(#ffb100,yellow,#ffb100);
    border-radius: 30px;
}

#calqueNoterYoutubeur4 {
    position: absolute;
    top: 0px;
    border-radius: 30px;
    width: 280px;
    height: 600px;
    background: radial-gradient(ellipse at bottom,rgba(0, 4, 113, 0.9) 40%,rgb(3, 0, 83));
}

.rating4 {
    position: relative;
    z-index: 4;
    top: 250px;
    width: 280px;
    height: 80px;
    display: block;
    text-align: center;
    transform: rotateY(180deg);
}

.c3 {
    background-color: transparent;
    border: none;
    width: 40px;
    margin-left: 0px;
    margin-right: 0px;
    height: 80px;
    cursor: pointer;
    font-size: 43px;
    color: #0a9abc;
    border-radius: 50%;
}

.c3:hover, .c3:focus {
    outline: none;
    color: #ffce00;
    text-shadow: 0 0px 15px yellow;   
}

}
